.card-container{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    backface-visibility: hidden;
    -moz-osx-font-smoothing:grayscale;
    transform: translateZ(0);
    padding: 10px;
    margin-top: 5px;
    transition: transform 0.25 ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}